/*Indice letras AZ*/
.indiceAZ {
  background-color: #e6f0ff;
  border: 1px solid #c0d4ee;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}
.indiceAZ li {
  display: inline;
}
.indiceAZ a {
  color: #004080;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  padding: 6px 8px;
  border-radius: 5px;
}
.indiceAZ a:hover {
  background-color: #d8e7ff;
  text-decoration: underline;
  background-color: #d8e7ff
}
.indiceAZ a:focus {
  outline: 2px solid #ffbf47;
  outline-offset: 2px;
}
/*Índice de listas*/
.indice-lista {
  background-color: #eaf3ff;
  border: 1px solid #b5d1f2;
  border-radius: 8px;
  padding: 16px 24px;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  list-style-type: disc;
  color: #002244;
}
.indice-lista ul {
  list-style-type: circle;
  margin-left: 30px;
  margin-top: 6px;
}
.indice-lista a {
  color: #004080;
  text-decoration: none;
  font-weight: 600;
}
.indice-lista a:hover {
  color: #0066cc;
  text-decoration: underline;
  background-color: #bbd8fa;
}
